body {
	background-image:url("https://images.unsplash.com/photo-1443110189928-4448af4a2bc5?crop=entropy&fit=crop&fm=jpg&h=950&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=975");
	background-size: cover;
	text-align: center;
	font-family: "Cinzel";
	font-weight: bolder;
}

#newList li{

	color:coral;	
	font-size: 50px;
	background-color: lightslategray;
	padding: 10px;
	opacity: .85;
	margin: 5px;
	text-align: left;
}

#inProgress li{

	color:coral;	
	font-size: 50px;
	background-color: lightslategray;
	padding: 10px;
	opacity: .85;
	margin: 5px;
	text-align: left;
}

#archived li{

	color:coral;	
	font-size: 50px;
	background-color: lightslategray;
	padding: 10px;
	opacity: .85;
	margin: 5px;
	text-align: left;
	text-decoration: line-through;
}

a {
	text-decoration: none;
}

.panel {
	background-color: lightblue;
	border: 1 px solid darkslateblue;
	border-radius: 2px;
	padding: 10px;
	display:block;
	opacity:.9;
}


header {
	
	background-color: lightslategray;
	background: style(opacity: .7);
	width: 100%;
	height: 120px;
	margin-top: 20px;
	margin-bottom: 20px;
	opacity:.85;

}

header h1 {
	font-size: 80px;
	color: coral;
}

.panel {
    display: inline-block;
    width: 50%;
    margin: auto;
    text-align: center;
}
#newTaskForm {
	width:100%;
	text-align: center;
}
.Input {
	text-align: center;
	width:100%;
}
input, button {
	height:40px;
}